<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <title>Document</title>
</head>
<body><!--
   <div id="app">
    <select v-model="one">
    
    <option disabled value="">please select one</option>
    
    <option>y</option>
    <option>z</option>
</select>
<span>one: {{ one }}</span>
</div>
<br>-->

<div id="app">



    
            <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                  </select>
                  <span>selected: {{ selected }}</span>
                  
    </div>
    <script src="select.js"></script>
</body>
</html>